/**
  Global Website Footer
  ---------------------------------------------------------------------- */
#footer-control {
  @include grid(flex-start, center);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $globalBorder;
  background-color: $tan;
  z-index: 998;
  padding: 0 $globalBorder;

  &.is-off {
    button {
      border-color: $tanDark;
      background-color: $tanTrans;

      &:hover {
        background-color: $tanTrans;
      }
    }

    li.slick-active button {
      background-color: $tanDark;
    }
  }
}

.contact-data {
  @include grid(center, stretch);
  padding: ($globalBorder / 2) $globalBorder 0;
}

.contact-content {
  width: 50%;
  padding: 0 2rem 0 0;
  font-size: 0.85rem;
}

.contact-form {
  width: 50%;
  padding: 0 0 0 2rem;
  border-left: 1px solid $tanTrans;
  @include clearfix();

  p {
    padding: 0;
  }

  br {
    display: none;
  }

  input,
  textarea {
    border-radius: 0;
    background-color: transparent;
    color: $tanDark;
    border-bottom: 1px solid $tanTrans;
    padding: 0.5em 0;
    height: auto;
  }

  button {
    background-color: transparent;
    width: auto;
    @include fontBold(false);
    @include fontItalic();
    color: $tan;
    font-size: 0.85em;
    float: right;
    @include transition();

    &::after {
      content: '';
      display: inline-block;
      width: 1.75em;
      height: 1.75em;
      @include icon(paperAirplane);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 0.75em;
      transform: translateY(25%);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  span.wpcf7-not-valid-tip {
    font-size: 0.75em;
    color: $cobalt;
    display: block;
    text-align: right;
    line-height: 1;
  }

  .wpcf7-response-output {
    text-align: center;
  }
}

.contact-info {
  @include grid(flex-start, stretch);
  margin: 2rem 0;

  &::before {
    content: '';
    display: block;
    width: 3em;
    min-width: 3rem;
    max-width: 3rem;
    border-right: 1px solid $cobalt;
    margin-right: 1rem;
    background-position: left center;
    background-size: 1.5rem auto;
    background-repeat: no-repeat;
  }

  a {
    color: $tanDark;
    @include transition();

    &:hover {
      opacity: 0.85;
    }
  }

  .name {
    @include fontBold();
    color: $tan;

    &::after {
      content: ': ';
      display: inline;
    }
  }

  ul {
    @include listStripped();
  }

  &.contact-phone {
    margin-top: 0;

    &::before {
      @include icon(call);
    }
  }

  &.contact-email {
    &::before {
      @include icon(envelope);
    }
  }

  &.contact-social {
    margin-bottom: 0;

    &::before {
      @include icon(social);
    }
  }

  .nav-social {
    ul {
      @include listStripped();
      @include grid();

      li {
        margin-right: 1rem;
      }
    }

    span {
      display: none;
    }
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1156px) {
  #footer-control {
    .slick-dots button {
      width: 1rem;
      height: 1rem;
    }
  }

  .contact-data {
    @include grid(center, center, column);
    padding: 0;
  }

  .contact-content,
  .contact-form {
    width: 100%;
    padding: 0 0 2rem;
    border: none;
  }
}

@media (max-width: 960px) {
  #footer-control {
    height: 1rem;

    .slick-dots {
      display: none !important;
    }

    &::after {
      content: '';
      display: block;
      width: 1rem;
      height: 100vh;
      background-color: $tan;
      position: fixed;
      right: 0;
      bottom: 0;
    }
  }

  .contact-data {
    padding: 2rem;
  }

  #footer {
    margin-top: 85vh;
  }
}
