/**
  Global Website Footer
  ---------------------------------------------------------------------- */
#footer-control {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $globalBorder;
  background-color: $tan;
  z-index: 998;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
