/**
  Global Website Header
  ---------------------------------------------------------------------- */
#header-tagline {
  @include grid(flex-start, center);
  position: fixed;
  width: 100%;
  height: $globalBorder;
  background-color: $tan;
  padding: 0 $globalBorder;
  z-index: 997;

  h1 {
    font-size: 0.85rem;
    font-weight: $font-normal;
    line-height: 1;
    padding: 0;
    margin: 0;
  }

  &::after {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: $globalBorder;
    background-color: $tan;
  }
}

#header {
  background-color: $tan;
  position: fixed;
  width: 22vw;
  height: 100vh;
  right: 0;
  top: 0;
  padding: $globalBorder $globalBorder/2;
  z-index: 999;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 80%;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {

}
