.about-data {
  @include grid(space-between, stretch);
  padding: ($globalBorder / 2) $globalBorder 0 $globalBorder;
}

.about-photo {
  width: calc(50% - 2rem);
  margin-right: 2rem;
  background-size: cover;
  background-position: center center;

  img {
    display: none;
  }
}

.about-content {
  width: calc(50% - 2rem);
  margin-left: 2rem;
  font-size: 0.85rem;

  blockquote {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1156px) {
  .about-data {
    padding: 0
  }

  .about-content,
  .about-photo {
    width: calc(50% - 1rem);
    margin: 0;
  }
}

@media (max-width: 960px) {
  .about-data {
    padding: 2rem;
  }
}
