#hero-desktop {
  position: fixed;
  width: (100vw - $globalBorder - 22vw);
  z-index: 0;
  @include filter-blur(10px);
  @include transition(all 500ms ease);
}

.module.is-active {
  #hero-desktop {
    @include filter-blur(0px);
  }
}

@keyframes animateButton {
  0% { transform: translateY(-2em); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

#link-down {
  @include grid(center, center, column);
  position: absolute;
  right: 24vw;
  bottom: 6vw;
  z-index: 1;
  padding: 1.5em 2em;
  font-size: 0.85em;
  color: $tan;
  background: linear-gradient(to bottom, $black 0%, transparentize($black, 1) 100%);
  border-radius: 6px;
  opacity: 0;
  transform: translateY(-2em);
  animation: animateButton 1s linear 2s forwards;

  &:hover {
    &::after {
      transform: translateY(0.5em);
    }
  }

  &::after {
    content: '';
    display: block;
    width: 2em;
    height: 1em;
    @include icon(arrowDown);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 0.5em;
    @include transition();
  }
}

.hero-image {
  height: calc(100vh - #{$globalBorder * 2});
  background-size: cover;
  background-position: center center;

  img {
    display: none;
  }
}

.slick-dots {
  @include listStripped();
  @include grid();

  button {
    display: block;
    font-size: 0;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 2px solid $cobalt;
    background-color: transparentize($cobalt, 0.95);
    @include transition();
  }

  li {
    margin-right: 0.5em;

    &:hover button {
    background-color: transparentize($cobalt, 0.66);
    }

    &.slick-active button {
      background-color: $cobalt;
    }
  }
}

#hero-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;

  img {
    display: none;
  }

  .hero-image-mobile {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
  }
}

.hero-mobile-logo {
  display: none;
  width: 100%;
  padding: 10vh;
  position: relative;
  z-index: 1;

  img {
    display: block;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 960px) {
  #hero-desktop,
  #link-down {
    display: none;
  }

  #hero-mobile {
    display: block;
  }

  .hero-mobile-logo {
    display: block;
  }
}
