.services-description {
  text-align: center;
  font-weight: $font-light;
  padding: 1.5em 0;
  max-width: 80%;
  margin: 0 auto;
}

.services-columns {
  @include listStripped();
  @include grid(center, stretch);
  text-align: center;

  li {
    padding: 1em 2em 0 2em;
    font-size: 0.85em;
    position: relative;

    p:last-of-type {
      padding-bottom: 0;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.line {
      width: 1px;
      min-width: 1px;
      max-width: 1px;
      padding: 0;
      background-color: $tanTrans;
    }
  }
}

@media (max-width: 960px) {
  .services-columns {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .services-columns {
    @include grid(center, center, column);

    li {
      margin: 0 0 2rem 0;
      padding: 0;

      &.line {
        width: 100%;
        max-width: 100%;
        height: 1px;
      }
    }
  }
}

@media (max-width: 650px) {
  .services-description {
    max-width: 100%;
    padding: 1rem;
  }

  .services-columns {
    padding: 1rem;
  }
}
