.module {
  min-height: 100vh;
  padding: $globalBorder 22vw $globalBorder $globalBorder;
  @include grid(center, center);
  position: relative;
  overflow-x: hidden;
}

.module-inner {
  background-color: $black;
  color: $tan;
  padding: $globalBorder ($globalBorder / 2);
  width: calc(100% - #{$globalBorder * 4});
  overflow: hidden;
  position: relative;

  & > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include icon(mountains);
    background-size: 135% auto;
    background-position: center bottom -#{$globalBorder};
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 0;
  }
}

.module-heading {
  position: relative;
  font-size: 2em;
  text-align: center;

  span {
    display: block;
  }

  i {
    @include fontBold();
    @include fontItalic(false);
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 1em 1em 0 1em;
    font-size: 0.45em;
    color: $tanDark;
    background-color: $black;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0.3em;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $tanTrans;
  }
}
